<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
<%= stylesheet_link_tag "mystyle" %>
</head>
<!-- Title refers to what shows at the tab-->
<title>Mamma Mia! / BabySteps</title>


<div id="page">
	<div id="page-bgtop"></div>
	<%= yield -%>
	<div id="page-bgbtm"></div>
</div>


</div>
</body>



</html>
