<div id="header-wrapper">
	<a href="/home/logout">Logout</a>
</div>
<div id="logo">
	<h1>Mamma Mia!</h1>
	<p>[subtitle]</p>
</div>

<span id="menu">
	<a href="/home/">Home</a>
	<a href="/profile/diet_log/">Diet Log</a>
	<a href="/profile/ex_log/">Exercise Log</a>
	<a href="/profile/baby/1/">Baby Profile #1</a>
	<a href="/profile/baby/2/">Baby Profile #2</a>
	<a href="/home/about_us">About Us</a>
</span>

<div id="content">
	<span class="post">This is Content</span>
</div>

<div id="search">
</div>

<span id="sidebar">
	This is the sidebar
</span>
